.aboutbanner-section {
 background-color: #12372A;
 padding: 4rem;
 color: #ffffff;
}
.aboutbanner-title {
font-weight: bold;
margin-left: 4rem;
color: #F1FFEA;
}

.aboutbanner-tag {
    font-size: 16px;
    margin-left: 4rem;
    color: #F1FFEA;
    


}
