.booking-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 160px 20px;
  gap: 2rem;
  
  
  
}


.booking-content {
  display: flex;

  font-size: 28px;
  margin-bottom: 20px;
  max-width: 500px;
  margin-right: 2rem;
}
  


.image {
  display: flex;
  place-items: left;
  

  
}


.first-title {
  color: #f1c30c;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 2px;
}
.second-text {
    color: #12372A;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}
.intro-text {
    color: #12372A;
    font-size: 16px;
    text-align: left;
}
.left-content {
  margin-left: 5rem;
  margin-top: 1rem;
  flex-direction: column;
}

.right-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 550px;
  margin-top: 2rem;
  margin-right: 8rem;

}


.booking-form {
  background-color: #faf8ec;
  border-radius: 10px;
  margin-right: 2rem;
  padding: 40px;
  max-width: 550px;
  /*margin: 40px auto;*/
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid #f1e3a0;
}

.booking-form input,
.booking-form textarea {
  padding: 12px;
  border-radius: 6px;
  border: 2px solid #F1C30C;
  font-size: 16px;
  width: 100%;
}




.booking-button,
.booking-form button {
  background-color: #F1C30C;
  color: black;
  border: none;
  padding: 12px;
  width: 40%;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.booking-form button:hover {
  background-color: #4bea95;
  transform: scale(1.03);
}


.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 15px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 1rem;
}

.form-group .required {
  color: red;
  font-size: 16px;
  vertical-align: super;
  margin-left: 3px;
}
.required {
    color: red;
    font-size: 16px;
    vertical-align: super;
    margin-left: 3px;
}


.small-inputs {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 15px;
}

.input-field {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}

.input-field label {
  padding: 0.5rem 0;
  font-size: 14px;
  color: #12372a;
  font-weight: 500;
  line-height: 1.2;
}
.booking-form input::placeholder,
.booking-form textarea::placeholder {
  color: #F1C30C; 
  opacity: 0.7;
  
}

.text-title-left {
    margin-left: 5.5rem;
}

.error {
  color: #d93025;
  font-size: 0.9rem;
  margin-top: 4px;
  font-weight: 500;
}

.small-inputs {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.input-field {
  flex: 1;
  display: flex;
  flex-direction: column;
}