.contactusbanner-section {
 background-color: #12372A;
 padding: 4rem;
 color: #ffffff;
}
.contactusbanner-title {
font-weight: bold;
margin-left: 10rem;
color: #F1FFEA;
}

.contactusbanner-tag {
    font-size: 16px;
    margin-left: 10rem;
    color: #F1FFEA;
    


}