.cta-section {
    background-color: #12372A;
    padding: 6rem;
    color: #ffffff;
    text-align: center;
    
    
}
.cta-title {
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}
.cta-text {
    font-size: 16px;
    
    text-align: center;
    
    max-width: 650px;
    margin: 0 auto; 
}
.cta-button  {
  background-color: #facc15;
  color: #000;
  padding: 12px 28px;
  border-radius: 6px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 25px;
  transition: 0.2s ease-in-out;
  text-align: center;
}
.cta-button:hover {
  background-color: #c89a01;
  transform: scale(1.05);   
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}