
.footer-section {
    display: flex;
    justify-content: space-between;
    background-color: #12372A;
    color: #ffffff;
    padding: 1.5rem;
}
.footer-rights {
    margin-left: 4rem;
    margin-top: 2rem;
}

.footer-terms {
    display: flex;
    gap: 5rem;
    list-style: none;
    margin-right: 5rem;
    margin-top: 2rem;
    
    
}


.footer-terms a {
  color: #ffffff;           /* gör texten vit */
  text-decoration: none;    /* tar bort underline */
  font-weight: 400;         
  transition: color 0.3s ease;
}
.footer-terms li svg {
  margin-right: 6px;   
  vertical-align: middle; /* gör att ikonen ligger snyggt i linje med texten */
}