.social-icons {
  margin-right: 2rem; 
  
}
.btn-top {
    margin-right: 2rem;
    margin-top: 1.3rem;
}
.topbar-bg{
    background-color: #12372A;
}

.social-icons i {
  font-size: 1.5rem;
                
  height: auto;
  line-height: normal;
  border: none;               
  background: none;          
  border-radius: 0;           
  color: #fbbf24;   
  display: inline-block;          
  transition: color 0.3s ease, transform 0.3s ease;
}
.navbar-brand:hover {
    transform: scale(1.1);
}




.social-icon-link:hover i {
  
 transform: scale(1.6);
}

.nav-link {
  font-size: 20px;
   color:#12372A !important;   
  display: inline-block;
  transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link:focus-visible {
  color: #fbbf24 !important; 
          
}
.nav-item {
    font-weight: 600; 
}
.btn-warning.btn-top {
margin-bottom: 1rem;
width: 12%;


}
.btn-warning.btn-top:hover {
  background-color: #3de37a;   
  transform: scale(1.05);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
      
}
.active-link {
  color: #f4b400 !important; /* gul när sidan är aktiv */
  font-weight: 600;
}
