 .navbar {
  background-color: #12372a;
  padding: 20px 0;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 30px;
}

.nav-link {
  color: white;
  font-weight: 500;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f4b400;
}

.nav-link.active {
  color: #f4b400;
  border-bottom: 2px solid #f4b400;
}
