 /* pricing-plans.css */

.pricing-section {
  padding: 60px 0;
  background-color: #f9fbfa;
  text-align: cente
}
.price-tag {
    color: #f9c80e;
    font-size: 20px;
    margin-left: 14rem;
    font-weight: 600;
}

.pricing-title {
  color: #12372A;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 14rem;
  margin-bottom: 1rem;
}

.pricing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.plan-card {
  width: 250px;
  padding: .5rem 1.5rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f0fdf4; /* standard ljus bakgrund */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.plan-card:hover {
  color: #f9fbfa;
  background-color: #0d3b2e;;
  transform: translateY(-8px);

}

.plan-title  :hover{
    color: #12372A;
  margin-bottom: 1rem;
  text-align: center;
}
.plan-title {
    text-align: center;
    font-size: 20px;
}

.plan-price {
  font-size: 2rem;
  font-weight: bold;
  color: #f9c80e;
  margin-left: 1rem;
}

.plan-period  :hover{
  font-size: 1rem;
  color: #12372A;
  margin-left: 3rem;
  margin-left: 0.25rem;
}
.plan-period {
    font-weight: bold;
    margin-left: 2rem;
}


.plan-description {
  font-size: 0.95rem;
  margin: 1rem 0;
}

.feature-list {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-top: 1rem;
}

.feature-list li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
}

.feature-list li::before {
  content: none;
}

.plan-button {
  display: block;
  width: 120px;
  margin-left: 2rem;
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #f9c80e;
  border: none;
  color: #000;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plan-card.featured .plan-button {
  background-color: #f9c80e;
  color: #000;
}


.plan-card:hover li i {
  color: #FFD700; /* Gul check ikon */
}
