 .servicebanner-section {
 background-color: #12372A;
 padding: 4rem;
 color: #ffffff;
}
.servicebanner-title {
font-weight: bold;
margin-left: 10rem;
color: #F1FFEA;
}

.servicebanner-tag {
    font-size: 16px;
    margin-left: 10rem;
    color: #F1FFEA;
    


}
