 .services-section {
  background-color: #ffffff;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-text {
    display: flex;
    justify-content: space-between;
  text-align: left;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 40px;
}

.section-tag {
  color: #fbbf24;
  font-weight: 500;
  margin-bottom: 10px;

}

.services-text h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #12372A;
  margin-bottom: 15px;
}

.services-description {
  color: #12372A;
  max-width: 600px;
  margin-top: 2rem;
}

.services-content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 40px;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.left-boxes,
.right-boxes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-card {
  background-color: white;
  border: 3px solid #e5e7eb;
  padding: 1.8rem;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.service-card:hover {
  border-color: #F1C30C;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.06);
}

.service-card.highlighted {
  padding: 1.8rem;

}

.service-card h4 {
  margin: 0 0 8px;
  font-weight: 700;
  color: #12372A;
  font-size: 16px;
  
}

.service-card p {
  margin: 0;
  color: #12372A;
  font-size: 14px;
}

.service-image img {
  width: 580px;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
}
