 .subscribe {
  background-color: #f8f7ee;
  padding: 3rem 0;
}

.subscribe-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.text-block h2 {
  font-size: 2rem;
  color: #0c3b34;
  font-weight: bold;
  font-size: 52px;
  margin: -2px;
}

.text-block p {
  margin-top: 1rem;
  color: #0c3b34cc;
  font-size: 18px;
}

.subscribe-form {
  display: flex;
  gap: 1rem;
}

.subscribe-form input {
  width: 320px;
  padding: 0.9rem 1rem;
  border: 2px solid #e6c100;
  border-radius: 6px;
  outline: none;
  font-size: 1rem;
  height: 3rem;
}

.subscribe-form button {
  background-color: #f9d005;
  height: 3rem;
  border: none;
  padding: 0.9rem 1.7rem;
  border-radius: 6px;

  cursor: pointer;
  font-weight: 600;
  color: #000;
  transition: 0.2s;

  display: flex;
  align-items: center;

}


.subscribe-form button:hover {
  background-color: #4bea95;
  transform: scale(1.05);
}

.message {
  text-align: center;
  margin-top: 1rem;
  font-size: 1rem;
}
.input-wrapper {
  position: relative;

}

.required-star {
  position: absolute;
  right: 174px;
  top: 50%;
  transform: translateY(-50%);
  color: red;
  font-size: 18px;
  font-weight: bold;
  pointer-events: none;
}
.required-star.hide {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


/* Responsiv */
@media (max-width: 768px) {
  .subscribe-content {
    flex-direction: column;
    text-align: center;
  }

  .subscribe-form {
    width: 100%;
    justify-content: center;
  }

  .subscribe-form input {
    width: 100%;
  }
}
