 .testimonials-section {

 position: relative;
 background-image: url('url../../public/photo-background-testim.svg');
 padding: 80px 20px;
  text-align: center;
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0;
  color: white;
}
.testimonials-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.70); /* Gör bilden mörkare */
  z-index: 1;
}

/* Gör så att allt innehåll (text, kort) ligger ovanför overlayn */
.testimonials-section > * {
  position: relative;
  z-index: 2;
}

.testimonials-tag {
  font-size: 24px;
  color: #f4b400;
  font-weight: 600;
  margin-bottom: 10px;
  display: inline-block;
}


.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 15px;
}

.section-desc {
  color: #ffffff;
  font-size: 1rem;
  max-width: 700px;
  margin: 0 auto 50px auto;
}

.testimonial-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 40px;
}

.testimonial-form input,
.testimonial-form textarea {
  padding: 10px;
  font-size: .7rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.testimonial-form input {
  width: 150px;
}

.testimonial-form textarea {
  width: 200px;
  height: 50px;
  resize: vertical;
}

.testimonial-form button {
  background-color: #f4b400;
  border: none;
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.testimonial-form button:hover {
  background-color: #c29200;
}

.testimonials-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 2rem;
  justify-content: 1fr 1fr;
  
}

.testimonial-card {
  background-color: #ffffff;
  padding: 10px 10px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  max-width: 360px;
  min-width: 300px;
  text-align: left;
  position: relative;
}
.testimonial-card:hover {
  transform: translateY(-8px);
  
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
  cursor: pointer;
}
.testimonial-card:hover .quote {
  color: #ffcc00;
  transform: scale(1.1);
  transition: all 0.3s ease;
}



.stars {
  color: #0e3c34;
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.testimonial-text {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.5;
}

.testimonial-footer {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: auto;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
}

.testimonial-footer strong {
  font-weight: 600;
  color: #111;
}

.testimonial-footer p {
  margin: 0;
  color: #555;
  font-size: 0.9rem;
}

.quote {
  font-size: 4rem;
  color: #f4b400;
  margin-left: auto;
  margin-right: 0;
}

