 .why-choose-us {
  background-color: #FAF8EC;
}


.section-title {
  font-size: 2rem;
  color: #12372A;
  text-align: center;
}

.section-description {
    margin-left: 0rem;
}

.subtitle {
  font-size: 1rem;
  letter-spacing: 0.5px;
  margin-left: 7.6rem;
}

.security-icon {
  width: 58px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.image {
    margin-left: 5rem;
    margin-top: 3rem;
    width: 480px;
}

.security {
    color: #12372A;
    text-align: start;
}
.flexible {
    color: #12372A;
    text-align: start;

}
.clean {
    color: #12372A;
    text-align: start;
}
.access {
    color: #12372A;
    text-align: start;
}
.feat-list {
  align-items: center;

}
.why-choose-us .feature {
  justify-content: center; /* centrerar ikon + text i mitten */
  text-align: center;
}