.social-icons {
  margin-right: 2rem; 
}
.btn-top {
    margin-right: 2rem;
}
.topbar-bg{
    background-color: #12372A;
}
.social-icon-link i {
  color: #fbbf24 !important; 
}

.social-icon-link:hover i {
  color: #ffffff !important;
  transform: translateY(-2px);
}

:root {
   --clr--secondary: #4724d0;
    --clr--primary: hsl(160, 83%, 36%);
    --clr--accent: #d0852f;
}
.nav-link {
    text-decoration: none;
    color: rgb(50, 97, 4) !important;
    display: inline-block;
    color: var(--clr--primary);
    font-weight: 500 !important;
    
}
.nav-link[aria-current="page"] {
    color: var(--clr--primary);
}

.nav-link:hover,
.nav-link:focus-visible {
    outline: none;
    color: var(--clr--accent) !important;
    
}