 
/*:root {
  --clr--primary: hsl(160, 83%, 36%);
  --clr--secondary: #4724d0;
  --clr--accent: #d0852f;
  --clr--text: #333;
  --clr--bg: #ffffff;
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Inter", "Poppins", sans-serif;
  
  
  line-height: 1.6;
}


a {
  text-decoration: none;
  color: inherit;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}


@media (max-width: 768px) {
  body {
    font-size: 0.95rem;
  }
}
